{% extends "email/base_email.html" %}

{% block title %}Сброс пароля - АвтоАукцион{% endblock %}

{% block content %}
<h1>Сброс пароля</h1>

<p>Здравствуйте, {{ user.username }}!</p>

<p>Мы получили запрос на сброс пароля для вашей учетной записи на платформе "АвтоАукцион". Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это письмо.</p>

<div class="highlight">
    <p>Для сброса пароля, нажмите на кнопку ниже:</p>
    <div style="text-align: center;">
        <a href="{{ reset_url }}" class="btn" target="_blank">Сбросить пароль</a>
    </div>
    <p style="margin-top: 15px; font-size: 12px;">Если кнопка не работает, скопируйте и вставьте следующую ссылку в адресную строку браузера:</p>
    <p style="font-size: 12px; word-break: break-all;">{{ reset_url }}</p>
</div>

<p>Ссылка действительна в течение 1 часа. Если срок действия ссылки истек, вы можете запросить новую ссылку для сброса пароля на странице входа.</p>

<p>С уважением,<br>
Команда АвтоАукцион</p>
{% endblock %}