{% extends "email/base_email.html" %}

{% block title %}Подтверждение адреса электронной почты - АвтоАукцион{% endblock %}

{% block content %}
<h1>Подтверждение адреса электронной почты</h1>

<p>Здравствуйте, {{ user.username }}!</p>

<p>Благодарим вас за регистрацию на платформе "АвтоАукцион". Для завершения регистрации и активации вашего аккаунта, пожалуйста, подтвердите свой адрес электронной почты.</p>

<div class="highlight">
    <p>Для подтверждения вашего аккаунта, нажмите на кнопку ниже:</p>
    <div style="text-align: center;">
        <a href="{{ verification_url }}" class="btn" target="_blank">Подтвердить email</a>
    </div>
    <p style="margin-top: 15px; font-size: 12px;">Если кнопка не работает, скопируйте и вставьте следующую ссылку в адресную строку браузера:</p>
    <p style="font-size: 12px; word-break: break-all;">{{ verification_url }}</p>
</div>

<p>Ссылка действительна в течение 24 часов. Если срок действия ссылки истек, вы можете запросить новую ссылку для подтверждения на странице входа.</p>

<p>С уважением,<br>
Команда АвтоАукцион</p>
{% endblock %}