{% extends "emails/base_email.html" %}

{% block title %}Восстановление пароля - Auto Auction{% endblock %}

{% block content %}
<h2>Здравствуйте, {{ username }}!</h2>

<p>Вы запросили сброс пароля на сайте Auto Auction. Для создания нового пароля нажмите на кнопку ниже:</p>

<div style="text-align: center;">
    <a href="{{ reset_url }}" class="button">Сбросить пароль</a>
</div>

<p>Или перейдите по ссылке:</p>
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>

<p>Ссылка действительна в течение <span class="highlight">24 часов</span>.</p>

<p>Если вы не запрашивали сброс пароля, проигнорируйте это письмо или свяжитесь с нами.</p>

<p>
    С уважением,<br>
    Команда Auto Auction
</p>
{% endblock %}