{% extends "emails/base_email.html" %}

{% block title %}Добро пожаловать на Auto Auction{% endblock %}

{% block content %}
<h2>Здравствуйте, {{ username }}!</h2>

<p>Спасибо за регистрацию на сайте Auto Auction! Мы рады приветствовать вас в нашем сообществе автомобильных энтузиастов.</p>

<p>Для активации вашего аккаунта, пожалуйста, подтвердите ваш email, используя следующий код:</p>

<div class="verification-code">{{ verification_code }}</div>

<p>Код действителен в течение <span class="highlight">10 минут</span>.</p>

<p>После активации вы сможете:</p>
<ul>
    <li>Участвовать в аукционах</li>
    <li>Размещать собственные лоты</li>
    <li>Общаться с другими участниками</li>
    <li>Получать уведомления о новых аукционах</li>
</ul>

<p>
    С уважением,<br>
    Команда Auto Auction
</p>
{% endblock %}